# Barplot for denoising stats
Can only compare within dada2 for now but gives a nice barplot to follow how many sequences are lost at each denoising step

In [1]:
#files = ['~/qbb2/tables/statss/2stats.tsv','~/qbb2/tables/statss/11stats.tsv']
import glob
files = glob.glob('/Users/Diana/mocks-to-share-with-Diana/Runs_46_47_55_18years_SPOT_USC_2/reads_qza/qiime2020_11/trimming/paired_without_primers/allresults/unzippedtaxonomy/*/data/taxonomy.tsv')

In [2]:
#libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import rc
import seaborn as sns
import statistics

In [3]:
def load_df(filenames):
    stats = []
    for filename in filenames:
        df = pd.read_csv(filename, sep='\t')
        stats.append(df)
    return stats

In [4]:
stats = load_df(files)

In [5]:
stats = pd.join(stats, sort = True)
stats

AttributeError: module 'pandas' has no attribute 'join'

In [ ]:
stats

In [ ]:
stats = stats[list(stats.columns[-7:])]
stats = stats.drop(0)
numeric = ['denoised', 'filtered',  'input', 'merged', 'non-chimeric']
stats[numeric] = stats[numeric].apply(pd.to_numeric)
stats['% of Reads Remaining'] = stats['non-chimeric']/stats['input']*100

stats

In [ ]:
df = stats[['sample-id','% of Reads Remaining','id']]
df = df.melt.to_dataframe()

#df = df.groupby('sample-id').mean()


df

In [20]:
def load_df(filenames):
    stats = []
    for filename in filenames:
        df = pd.read_csv(filename, sep='\t')
        df['id'] = filename 
        stats.append(df)
    return stats

In [21]:
stats = load_df(files)
stats = pd.concat(stats)

In [22]:
stats

,Feature ID,Taxon,Confidence,id
0,863728e1cec6befd5ba02d15baef4c36,d__Bacteria; p__Proteobacteria; c__Alphaproteo...,0.879390,/Users/Diana/mocks-to-share-with-Diana/Runs_46...
1,20a0d2f150b3312772f5c00e54fd7baf,d__Bacteria; p__Bacteroidota; c__Bacteroidia; ...,0.961061,/Users/Diana/mocks-to-share-with-Diana/Runs_46...
2,2970af3e30642198ba1dfa1f304f310b,d__Archaea; p__Crenarchaeota; c__Nitrososphaer...,0.999219,/Users/Diana/mocks-to-share-with-Diana/Runs_46...
3,bdf18e8980906003f3978e5ee578c9ea,d__Bacteria; p__Actinobacteriota; c__Acidimicr...,1.000000,/Users/Diana/mocks-to-share-with-Diana/Runs_46...
4,9c0fe787b120b62b93c3cb46d844d9fa,d__Bacteria; p__Planctomycetota; c__Planctomyc...,0.995824,/Users/Diana/mocks-to-share-with-Diana/Runs_46...
...,...,...,...,...
35,e5bef6d7a65c9a889f20b3b9f3ba62fb,d__Archaea; p__Crenarchaeota; c__Nitrososphaer...,0.999984,/Users/Diana/mocks-to-share-with-Diana/Runs_46...
36,27ca2b8f287c3a7e4d864cc870cf67b7,d__Bacteria; p__Cyanobacteria; c__Cyanobacteri...,0.995559,/Users/Diana/mocks-to-share-with-Diana/Runs_46...
37,3468430277ce2317dec6f413dcfaa03e,d__Bacteria; p__Proteobacteria; c__Alphaproteo...,1.000000,/Users/Diana/mocks-to-share-with-Diana/Runs_46...
0,7535a6f86c75377513222e9f08c2de30,d__Archaea; p__Thermoplasmatota; c__Thermoplas...,1.000000,/Users/Diana/mocks-to-share-with-Diana/Runs_46...
0,7535a6f86c75377513222e9f08c2de30,d__Archaea; p__Thermoplasmatota; c__Thermoplas...,1.000000,/Users/Diana/mocks-to-share-with-Diana/Runs_46...

In [17]:
stats = stats.groupby('id').sum()

In [27]:
df = pd.melt(stats.reset_index(), id_vars=['id','Feature ID', 'Taxon'], value_name='Confidence')

/Users/Diana/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3331: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [28]:
df

,id,Feature ID,Taxon,variable,Confidence
0,/Users/Diana/mocks-to-share-with-Diana/Runs_46...,863728e1cec6befd5ba02d15baef4c36,d__Bacteria; p__Proteobacteria; c__Alphaproteo...,index,0.000000
1,/Users/Diana/mocks-to-share-with-Diana/Runs_46...,20a0d2f150b3312772f5c00e54fd7baf,d__Bacteria; p__Bacteroidota; c__Bacteroidia; ...,index,1.000000
2,/Users/Diana/mocks-to-share-with-Diana/Runs_46...,2970af3e30642198ba1dfa1f304f310b,d__Archaea; p__Crenarchaeota; c__Nitrososphaer...,index,2.000000
3,/Users/Diana/mocks-to-share-with-Diana/Runs_46...,bdf18e8980906003f3978e5ee578c9ea,d__Bacteria; p__Actinobacteriota; c__Acidimicr...,index,3.000000
4,/Users/Diana/mocks-to-share-with-Diana/Runs_46...,9c0fe787b120b62b93c3cb46d844d9fa,d__Bacteria; p__Planctomycetota; c__Planctomyc...,index,4.000000
...,...,...,...,...,...
48287,/Users/Diana/mocks-to-share-with-Diana/Runs_46...,e5bef6d7a65c9a889f20b3b9f3ba62fb,d__Archaea; p__Crenarchaeota; c__Nitrososphaer...,Confidence,0.999984
48288,/Users/Diana/mocks-to-share-with-Diana/Runs_46...,27ca2b8f287c3a7e4d864cc870cf67b7,d__Bacteria; p__Cyanobacteria; c__Cyanobacteri...,Confidence,0.995559
48289,/Users/Diana/mocks-to-share-with-Diana/Runs_46...,3468430277ce2317dec6f413dcfaa03e,d__Bacteria; p__Proteobacteria; c__Alphaproteo...,Confidence,1.000000
48290,/Users/Diana/mocks-to-share-with-Diana/Runs_46...,7535a6f86c75377513222e9f08c2de30,d__Archaea; p__Thermoplasmatota; c__Thermoplas...,Confidence,1.000000
48291,/Users/Diana/mocks-to-share-with-Diana/Runs_46...,7535a6f86c75377513222e9f08c2de30,d__Archaea; p__Thermoplasmatota; c__Thermoplas...,Confidence,1.000000

In [29]:
#because melting kept both index and confidence as a value, so delete all rows that have the value 'index' in the variable column
df.drop(df.loc[df['variable']=='index'].index, inplace=True)

In [33]:
df = df.drop(['variable'], axis=1)

In [34]:
df

,id,Feature ID,Taxon,Confidence
24146,/Users/Diana/mocks-to-share-with-Diana/Runs_46...,863728e1cec6befd5ba02d15baef4c36,d__Bacteria; p__Proteobacteria; c__Alphaproteo...,0.879390
24147,/Users/Diana/mocks-to-share-with-Diana/Runs_46...,20a0d2f150b3312772f5c00e54fd7baf,d__Bacteria; p__Bacteroidota; c__Bacteroidia; ...,0.961061
24148,/Users/Diana/mocks-to-share-with-Diana/Runs_46...,2970af3e30642198ba1dfa1f304f310b,d__Archaea; p__Crenarchaeota; c__Nitrososphaer...,0.999219
24149,/Users/Diana/mocks-to-share-with-Diana/Runs_46...,bdf18e8980906003f3978e5ee578c9ea,d__Bacteria; p__Actinobacteriota; c__Acidimicr...,1.000000
24150,/Users/Diana/mocks-to-share-with-Diana/Runs_46...,9c0fe787b120b62b93c3cb46d844d9fa,d__Bacteria; p__Planctomycetota; c__Planctomyc...,0.995824
...,...,...,...,...
48287,/Users/Diana/mocks-to-share-with-Diana/Runs_46...,e5bef6d7a65c9a889f20b3b9f3ba62fb,d__Archaea; p__Crenarchaeota; c__Nitrososphaer...,0.999984
48288,/Users/Diana/mocks-to-share-with-Diana/Runs_46...,27ca2b8f287c3a7e4d864cc870cf67b7,d__Bacteria; p__Cyanobacteria; c__Cyanobacteri...,0.995559
48289,/Users/Diana/mocks-to-share-with-Diana/Runs_46...,3468430277ce2317dec6f413dcfaa03e,d__Bacteria; p__Proteobacteria; c__Alphaproteo...,1.000000
48290,/Users/Diana/mocks-to-share-with-Diana/Runs_46...,7535a6f86c75377513222e9f08c2de30,d__Archaea; p__Thermoplasmatota; c__Thermoplas...,1.000000
48291,/Users/Diana/mocks-to-share-with-Diana/Runs_46...,7535a6f86c75377513222e9f08c2de30,d__Archaea; p__Thermoplasmatota; c__Thermoplas...,1.000000

In [40]:
#print one cell to get the full path to the tsv to delete it from left (lstrip) and right (rstrip) of the table uid
df.iloc[1,0]

'/Users/Diana/mocks-to-share-with-Diana/Runs_46_47_55_18years_SPOT_USC_2/reads_qza/qiime2020_11/trimming/paired_without_primers/allresults/unzippedtaxonomy/474cd266-b912-43bb-ae80-310f3488fc85/data/taxonomy.tsv'

In [41]:
#make a new column called result with the table uid stripped from the PATH to the taxonomy file ()
df['result'] = df['id'].map(lambda x: x.lstrip('/Users/Diana/mocks-to-share-with-Diana/Runs_46_47_55_18years_SPOT_USC_2/reads_qza/qiime2020_11/trimming/paired_without_primers/allresults/unzippedtaxonomy/').rstrip('/data/taxonomy.tsv'))

In [43]:
df['FeatureID'] = df['result'] + '_' + df['Feature ID'] .astype(str)

In [48]:
df = df.drop(['id', 'Feature ID', 'TableUID', 'result'], axis=1)

In [49]:
df

,Taxon,Confidence,FeatureID
24146,d__Bacteria; p__Proteobacteria; c__Alphaproteo...,0.879390,b912-43bb-ae80-310f3488fc85_863728e1cec6befd5b...
24147,d__Bacteria; p__Bacteroidota; c__Bacteroidia; ...,0.961061,b912-43bb-ae80-310f3488fc85_20a0d2f150b3312772...
24148,d__Archaea; p__Crenarchaeota; c__Nitrososphaer...,0.999219,b912-43bb-ae80-310f3488fc85_2970af3e30642198ba...
24149,d__Bacteria; p__Actinobacteriota; c__Acidimicr...,1.000000,b912-43bb-ae80-310f3488fc85_bdf18e8980906003f3...
24150,d__Bacteria; p__Planctomycetota; c__Planctomyc...,0.995824,b912-43bb-ae80-310f3488fc85_9c0fe787b120b62b93...
...,...,...,...
48287,d__Archaea; p__Crenarchaeota; c__Nitrososphaer...,0.999984,b220048-fea9-4781-a767-ead4a03e6fb6_e5bef6d7a6...
48288,d__Bacteria; p__Cyanobacteria; c__Cyanobacteri...,0.995559,b220048-fea9-4781-a767-ead4a03e6fb6_27ca2b8f28...
48289,d__Bacteria; p__Proteobacteria; c__Alphaproteo...,1.000000,b220048-fea9-4781-a767-ead4a03e6fb6_3468430277...
48290,d__Archaea; p__Thermoplasmatota; c__Thermoplas...,1.000000,3f10c25-820f-438c-9f6b-cb7505fa765_7535a6f86c7...
48291,d__Archaea; p__Thermoplasmatota; c__Thermoplas...,1.000000,98de68df-f314-4a8e-95a2-d8b3fd8e78e3_7535a6f86...

In [ ]:
#save it as a TSV
df.to_csv('filename.tsv', sep = '\t', index=False)

In [ ]:
stats = stats[list(stats.columns[-7:])]
stats = stats.drop(0)
numeric = ['denoised', 'filtered',  'input', 'merged', 'non-chimeric']
stats[numeric] = stats[numeric].apply(pd.to_numeric)

##fin stuff
stats = stats.groupby('id').sum()
stats = stats.drop('/home/diana/qbb2/tables/statss/stats.tsv')
df = pd.melt(stats.reset_index(), id_vars='id', var_name='step', value_name='read_number')
input_read_num = df['read_number'].max()
df['% of Reads Remaining'] = df['read_number'] / input_read_num * 100
step_order = {'input': 0, 'filtered': 1, 'denoised': 2, 'merged': 3, 'non-chimeric': 4}
df['order'] = df['step'].apply(lambda x: step_order[x])
df = df.reset_index()

In [ ]:
df['Run Number'] = df['id'].str.split('/').str.get(-1).str.replace('stats.tsv', '')
df['Run Number'] = "Run " + df['Run Number']
hue_order = df.query('step == "non-chimeric"').sort_values('% of Reads Remaining', ascending=False)['Run Number']

In [ ]:
sns.set_style('whitegrid')
sns.set_context('talk')

In [ ]:
sns.lineplot(data = df, y='% of Reads Remaining', x='order', hue='Run Number')
#plt.legend(bbox_to_anchor=(1.5,1.5))
plt.legend('')
plt.ylim(0, 100)
plt.xlim(0, 4)
plt.xticks([x/2 for x in range(0, 9)] , ['Input', '', 'Filtered', '', 'Denoised','', 'Merged', '', 'Non-Chimeric'])
plt.xlabel('Processing Steps')
plt.title('Parameter Settings Affect Data Loss')
plt.savefig('diana.svg')

In [ ]:
def clean( lst ):
    # lst is a tuple of (dataframe, nameofdf) and cols is the name of the columns
    sums = pd.DataFrame(data=None, columns=['Input','Filtered','Denoised','Merged','Non-chimeric']) #, columns=cols) #sums is the df with the sums for each denoising steps
    filenames = []
    for t in lst:
        df = t[0].drop(t[0].index[0])
        df.iloc[:,1:6] = df.iloc[:,1:6].apply(pd.to_numeric)
        sums = sums.append(df.iloc[:,1:6].sum(), ignore_index=True)
        filenames.append(t[1])
    index = pd.DataFrame({'id':filenames})
    sums = sums.join(index)
    sums = sums.set_index("id")
    
    rc('font', weight='bold') # y-axis in bold
    r = [0,1] # The position of the bars on the x-axis
    names = files #of groups
    barWidth = 1
    Step=['Input','Filtered','Denoised','Merged','Non-chimeric']
    color = ['darkorange','orange','sandybrown','navajowhite','blanchedalmond']

    plt.bar(r, sums.loc[:,'input'], color='darkorange', edgecolor='white', width=barWidth)
    plt.bar(r, sums.loc[:,'filtered'], color='orange', edgecolor='white', width=barWidth)
    plt.bar(r, sums.loc[:,'denoised'], color='sandybrown', edgecolor='white', width=barWidth)
    plt.bar(r, sums.loc[:,'merged'], color='navajowhite', edgecolor='white', width=barWidth)
    plt.bar(r, sums.loc[:,'non-chimeric'], color='blanchedalmond', edgecolor='white', width=barWidth)
    
    # Custom axis
    plt.xticks(r, ['Trimming 1', 'Parameter 2'], fontweight='bold')
    plt.xlabel("Method")
    plt.ylabel("Sequencing depth")
    
    # Show graphic
    plt.legend(Step,bbox_to_anchor=(1.05, 1), loc=2, borderaxespad=0.)
    
    return sums, plt.show()

In [ ]:
clean(files)

In [ ]:
sums, cleaned = clean(stats)
cleaned
plt.savefig('blop.png', dpi=300)

In [ ]:
sns.pairplot

In [ ]:
step_order = ['input', 'filtered', 'denoised', 'merged', 'non-chimeric']

In [ ]:
sns.set_style('whitegrid')
sns.set_context('notebook')

In [ ]:
df

In [ ]:
sns.lineplot(data = df, y='prop', x='order', hue='id')